<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8896C221D6E5F3D000D40A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8896C361D6E5F3E000D40A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8896C411D6E5F3E000D40A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
